*vivado.jou
*vivado.log
**Synthesis**
*.jou
*vivado_*.log
*vivado_*.str
/.Xil/
/vunit_out/
/gtwiz_us_nlv.log
**.log
hdl/constraints/*
!hdl/constraints/mcoi_xu5_custom_constr.xdc
!hdl/constraints/get_constraints.sh
libs/**
tmp/**
syn/**
!syn/Manifest.py
!syn/*.bit
sim/**
!sim/Manifest.py
!sim/sim_run.py
fw/compile_flags.txt
fw/vitis/**
!fw/src
!fw/inc
!fw/vitis/Makefile
!fw/vitis/*.tcl
fw/build/*
fw/build/Makefile
!fw/.cproject
!fw/.project
fw/linux/*.run
fw/linux/plnx-env-setup.sh
**.old
hdl/tests/gbt_rx_frameclk_phalgnr/
!hdl/tests/gbt_rx_frameclk_phalgnr/rx_frmclk_pll.xci
