*vivado.jou
*vivado.log
**Synthesis**
*.jou
*vivado_*.log
*vivado_*.str
/.Xil/
/vunit_out/
/gtwiz_us_nlv.log
**.log
hdl/constraints/*
!hdl/constraints/mcoi_xu5_custom_constr.xdc
!hdl/constraints/get_constraints.sh
libs/**
tmp/**
syn/**
!syn/Manifest.py
!syn/*.bit
