[submodule "module/BI_HDL_Cores"]
	path = libs/BI_HDL_Cores
	url = ssh://git@gitlab.cern.ch:7999/bi/BI_HDL_Cores.git
[submodule "module/mcoi_hdl_library"]
	path = libs/mcoi_hdl_library
	url = ssh://git@gitlab.cern.ch:7999/mcoi/mcoi_hdl_library.git
[submodule "module/mcoi_vfc_backend_fw"]
	path = libs/mcoi_vfc_backend_fw
	url = ssh://git@gitlab.cern.ch:7999/mcoi/mcoi_vfc_backend_fw.git
[submodule "module/mcoi_gefe_frontend"]
	path = libs/mcoi_gefe_frontend
	url = ssh://git@gitlab.cern.ch:7999/mcoi/mcoi_gefe_frontend.git
[submodule "modules/zynq_usplus_gbt_fpga"]
	path = libs/zynq_usplus_gbt_fpga
	url = ssh://git@gitlab.cern.ch:7999/personal-digital-lib/zynq_usplus_gbt_fpga.git
[submodule "libs/i2creader"]
	path = libs/i2creader
	url = ssh://git@gitlab.cern.ch:7999/personal-digital-lib/i2creader.git
[submodule "libs/i2cdev"]
	path = libs/i2cdev
	url = ssh://git@gitlab.cern.ch:7999/personal-digital-lib/i2cdev.git
